.pokemon {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex: 1 1 auto;
  min-width: 25%;
  margin: 10px 10px;
  border: 1px gray solid;
  border-radius: 10px;
  padding-left: 10px;
}

#pokemonDetails {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  align-content: center;

}

#pokemonDetails > div {
  border: 1px solid black;
  padding: 0 20px 20px 20px;
  text-align: center;
}

#about {
  display: 'flex';
  flex-flow: column wrap;
  align-items: center;
  text-align: center;
  padding: 0 6% 0 6%;
}
